<html>
    <head>
        <title>My To-do App</title>
        <style>
            .hidden{
              display: none;
            }
            
            .lists-wrapper, .todos-wrapper {
              display: inline-block;
              vertical-align: top;
            }

            /* .check-completed{
              float: left;
            } */
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              width: 300px;
            }
            li {
              clear: both;
            }
            li button {
              -webkit-appearance: none;
              border: none;
              outline: none;
              color: red;
              float: right;
              cursor: pointer;
              font-size: 20px;
            }
        </style>
    </head>

    <body>
      <div class="lists-wrapper">
        <h4>My Todo App</h4>

        <form method="post" action="/lists/create_list">
          <input type="text" id="list_txt" name="list_txt_name" />
          <input type="submit" value="Create List" />
        </form>

        <form id="form_todo_list" method=# action=#>
          <ul id="lists">
            {% for list in lists %}
            <li id="li_id_{{list.id}}">
              <input class="check-completed" data-id="{{ list.id }}" type="checkbox" onchange="listCheckboxCheckedChanged(this)" {% if list.completed %} checked {% endif %} />
              <a href="/lists/get_list_todos/{{ list.id }}">
                {{ list.name }}
              </a>
              <button class="delete" data-id="{{list.id}}" onclick="delListBtnClick(this);">&cross;</button>
            </li>
            {% endfor %}
          </ul>
        </form>
        
      </div>

      <div class="todos-wrapper">
        <h4>{{ active_list.name }}</h4>
        
        <form method="post" action="/todos/create_sync/{{ active_list.id }}">
            <input type="text" id="descrip_sync" name="descrip_sync" />
            <input type="submit" value="Create Sync'ly" />
        </form>
        
        <form id="form_async">
            <input type="text" id="descrip_async" name="descrip_async" />
            <input type="submit" value="Create Async'ly" />
        </form>

        <div id="error" class="hidden">Something went wrong!</div>

        <ul id="todos">
          {% for todo in todos %}
              <li id="li_id_{{todo.id}}">
                <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" onchange="todoCheckboxCheckedChanged(this)" {% if todo.completed %} checked {% endif %} />
                {{ todo.description }}
                <button class="delete" data-id="{{todo.id}}" onclick="delItemBtnClick(this);">&cross;</button>
              </li>
          {% endfor %}
        </ul>
      </div>

        <script>
            // Completed checkbox event
            // Add onchange event when loading the page. Can't apply to todo items created in the async way.
            // const checkboxes = document.querySelectorAll('.check-completed');
            // for (let i = 0; i < checkboxes.length; i++){
            //   const checkbox = checkboxes[i];
            //   checkbox.onchange = () => {checkboxCheckedChanged(checkbox)}
            // }

            function todoCheckboxCheckedChanged(checkbox) {
              console.log('checkbox', checkbox);
              console.log(checkbox.dataset['id']);

              const newCompleted = checkbox.checked;
              const todoId = checkbox.dataset['id'];
              fetch('/todos/set-completed', {
                  method: 'POST',
                  body: JSON.stringify({
                    'todoId': todoId,
                    'completed': newCompleted
                  }),
                  headers: {
                    'Content-Type': 'application/json'
                  }
                })
                .then(function() {
                  document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                  document.getElementById('error').className = '';
                })
            }

            // Delete todo item event
            function delItemBtnClick(delItemBtn){
                const todoId = delItemBtn.dataset['id'];
                fetch('/todos/del_todo/' + todoId, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(jsonResponse => {
                  console.log('response', jsonResponse);
                  
                  const item = delItemBtn.parentElement;
                  item.remove();
                  document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                  document.getElementById('error').className = '';
                })
              }

            // Form submit event
            const descInput = document.getElementById('descrip_async');
            document.getElementById('form_async').onsubmit = function(e) {
              e.preventDefault();
              const desc = descInput.value;
              descInput.value = '';
              fetch('/todos/create_async', {
                method: 'POST',
                body: JSON.stringify({
                  'description': desc, 
                  'list_id': '{{ active_list.id }}'
                }),
                headers: {'Content-Type': 'application/json',}
              })
              .then(response => response.json())
              .then(jsonResponse => {
                console.log('response', jsonResponse);
                
                newCheckbox = document.createElement('input');
                newCheckbox.type = 'checkbox';
                newCheckbox.className = 'check-completed';
                newCheckbox.checked = false;
                newCheckbox.dataset.id = jsonResponse['item_id'];
                // Or: newCheckbox.setAttribute('data-id',jsonResponse['id']);
                console.log('New checkbox data id: ', newCheckbox.dataset['id']);

                newCheckbox.onchange = () => {checkboxCheckedChanged(newCheckbox)};

                li = document.createElement('li');
                li.id = 'li_id_' + jsonResponse['item_id']
                li.innerText = jsonResponse['description'];
                li.appendChild(newCheckbox);

                document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
                window.location.reload(true);
              })
              .catch(function() {
                document.getElementById('error').className = '';
              })
            }
            
            // Todo list check box oncheck event
            function listCheckboxCheckedChanged(checkbox) {
              const completed = checkbox.checked;
              const listId = checkbox.dataset['id'];

              list_form = document.getElementById('form_todo_list');
              list_form.method='post';
              list_form.action='/lists/set-completed?listId=' + listId + '&completed=' + completed;
              list_form.submit();

            }

            // Delete list event
            function delListBtnClick(delListBtn){
              const listId = delListBtn.dataset['id'];

              fetch('/lists/del_list/' + listId, {
                    method: 'DELETE'
                })
                .then(() => {
                  const item = delListBtn.parentElement;
                  item.remove();
                  document.getElementById("error").className = "hidden";
                  window.location.reload(true);
                })
                .catch(function() {
                  document.getElementById('error').className = '';
                })
            }
            
          </script>
    </body>
</html>