<html>
    <head>
        <title>My To-do App</title>
        <style>
            .hidden{
              display: none;
            }
            .lists-wrapper, .todos-wrapper {
              display: inline-block;
              vertical-align: top;
            }
        </style>
    </head>

    <body>
      <div class="todos-wrapper">

        <p>
          <form method="post" action="/todos/create_sync">
              <input type="text" id="descrip_sync" name="descrip_sync" />
              <input type="submit" value="Create Sync'ly" />
          </form>
        </p>
      
        <p>
            <form id="form_async">
                <input type="text" id="descrip_async" name="descrip_async" />
                <input type="submit" value="Create Async'ly" />
            </form>
        </p>

        <div id="error" class="hidden">Something went wrong!</div>

        <ul id="todos">
          {% for d in data %}
              <li>
                <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} />
                {{ d.description}}
              </li>
          {% endfor %}
        </ul>
      </div>

        <script>
            // Completed checkbox event
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++){
              const checkbox = checkboxes[i];
              checkbox.onchange = function(e){
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                      'todoId': todoId,
                      'completed': newCompleted
                    }),
                    headers: {
                      'Content-Type': 'application/json'
                    }
                  })
                  .then(function() {
                    document.getElementById('error').className = 'hidden';
                  })
                  .catch(function() {
                    document.getElementById('error').className = '';
                  })
              }
            }

            // Form submit event
            const descInput = document.getElementById('descrip_async');
            document.getElementById('form_async').onsubmit = function(e) {
              e.preventDefault();
              const desc = descInput.value;
              descInput.value = '';
              fetch('/todos/create_async', {
                method: 'POST',
                body: JSON.stringify({'description': desc,}),
                headers: {'Content-Type': 'application/json',}
              })
              .then(response => response.json())
              .then(jsonResponse => {
                console.log('response', jsonResponse);
                
                newCheckbox = document.createElement('input');
                newCheckbox.type = 'checkbox';
                newCheckbox.className = 'check-completed';
                newCheckbox.checked = false;
                newCheckbox. setAttribute('data-id', jsonResponse['id']);

                li = document.createElement('li');
                li.innerText = jsonResponse['description'];
                li.appendChild(newCheckbox);

                document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
              })
              .catch(function() {
                document.getElementById('error').className = '';
              })
            }
          </script>
    </body>
</html>